// app/assets/javascripts/serviceworker.js.erb
console.log('[Service Worker] Hello world!');

var CACHE_NAME = 'v1-cached-assets'

function onInstall(event) {
    event.waitUntil(
        caches.open(CACHE_NAME).then(function prefill(cache) {
            return cache.addAll([
                '<%= asset_path "application.css" %>',
                '/'
                // you get the idea ...
            ]);
        })
    );
}

function onActivate(event) {
    console.log('[Serviceworker]', "Activating!", event);
    event.waitUntil(
        caches.keys().then(function(cacheNames) {
            return Promise.all(
                cacheNames.filter(function(cacheName) {
                    // Return true if you want to remove this cache,
                    // but remember that caches are shared across
                    // the whole origin
                    return cacheName.indexOf('v1') !== 0;
                }).map(function(cacheName) {
                    return caches.delete(cacheName);
                })
            );
        })
    );
}


function onFetch(event) {
    // Fetch from network, fallback to cached content, then offline.html for same-origin GET requests
    var request = event.request;

    if (!request.url.match(/^https?:\/\/example.com/) ) { return; }
    if (request.method !== 'GET') { return; }

    event.respondWith(
        fetch(request)                                        // first, the network
            .catch(function fallback() {
                caches.match(request).then(function(response) {  // then, the cache
                    response || caches.match("<%= root_path %>");     // then, /offline cache
                })
            })
    );

}

self.addEventListener('fetch', onFetch)
self.addEventListener('install', onInstall)
self.addEventListener('activate', onActivate)