<%= form_for @image, html: {class: 'form-horizontal image_form'} do |form| %>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <% if @image.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@image.errors.count, "errors") %></h2>
            <ul>
              <% @image.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>

    <% unless @image.new_record? %>
       <%= image_tag("/assets/image_#{@image.id}.#{@image.image_type}", style: 'max-width: 375px; max-height: 500px')%>

        <%end %>
    <div class="col-xs-12 col-sm-12 col-md-8">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <%= form.label 'url' %>
          <%= form.text_field :url, placeholder: 'paste img url*', :class => "form-control paste_url", required: true  %>
        </div>

            <% unless @image.new_record?   %>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <%= form.label 'Width' %>
          <%= form.text_field :width, value: @width %>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <%= form.label 'Height' %>
          <%= form.text_field :height, value: @height %>
        </div>

            <%end %>

            <div class="submit_button">
              <%= form.submit  %>
            </div>


      </div>
    </div>
<% end %>


