<html  manifest="/cache.manifest">
<div class="new_image">
  <%= link_to 'New Image', new_image_path %>
</div>
<table>
  <thead>
  <tr>
    <th>Url Image</th>
    <th>Image</th>
    <th>Width</th>
    <th>Height</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
      <%  @images.each do |image| %>
          <tr>
            <td><%= "public/assets/image_#{image.id}.#{image.image_type}" %></td>
            <td><%= image_tag("/assets/image_#{image.id}.#{image.image_type}", style: 'max-width: 375px; max-height: 500px')%></td>
            <td> <%= image.width%></td>
            <td><%= image.height %></td>
            <td>
              <ul class="actions">
                <li><%= link_to 'Edit', edit_image_path(image) %></li>
                <li><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are u sure?' } %></li>
              </ul>
            </td>
          </tr>
      <script type="text/javascript" charset="utf-8">

          localStorage.setItem("images_<%= image.id %>", "<%= ("#{request.url}public/assets/image_#{image.id}.#{image.image_type}")%>")
          localStorage.setItem("url<%= image.id %>", "<%= image.url %>")

      </script>

      <% end %>
  </tbody>
</table>
</html>


